body {
    font-family: "Lucida Console", "Lucida Sans Unicode", monospace;
    margin: 40px auto;
    line-height: 1.6;
    font-size: 18px;
    color: #FFFEEE;
    padding: 0 10px;
    background-color: #0f0f0f;
}
h1, h2, h3 {
    line-height: 1.2;
}

.right-aligned {
    text-align: right;
}

.wrapper {
    width: 50%;
}

#topBtn {
    position:fixed;
    top:100vh;
    transform:translateY(-200%);
    width:10%;
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #FFFEEE; /* Set a background color */
    color: #0f0f0f; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#topBtn:hover {
    background-color: #807f77; /* Add a dark-grey background on hover */
}

.testing-space {
    margin-top: 1024px;
}