body {
    font-family: "Lucida Console", "Lucida Sans Unicode", monospace;
    margin: 40px auto;
    line-height: 1.6;
    font-size: 18px;
    color: #FFFEEE;
    padding: 0 10px;
    background-color: #0f0f0f;
}
h1, h2, h3 {
    line-height: 1.2;
}

.right-aligned {
    text-align: right;
}

.wrapper {
    width: 50%;
}

#topBtn {
    position:fixed;
    top:100vh;
    transform:translateY(-150%);
    min-width: 10%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #FFFEEE;
    color: #0f0f0f;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#topBtn:hover {
background-color: #807f77;
}

.testing-space {
margin-top: 1024px;
}